.dashboard-container{
    padding:40px;
    text-align:center;
}

.dashboard-box{
    background:#1a1a1a;
    padding:25px;
    border-radius:12px;
    margin-top:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.6);
}