.main-content{
    padding:110px 20px 20px;
    text-align:center;
}

/* BOX */
.emergency-box{
    margin:30px auto;
    max-width:500px;
    background:#1a1a1a;
    padding:25px;
    border-radius:12px;
    border:1px solid #222;
    box-shadow:0 0 15px rgba(0,0,0,0.5);
}

.emergency-box h2{
    margin-bottom:10px;
}

.emergency-box p{
    color:#ccc;
    margin:10px 0;
}

.highlight{
    color:#00ffcc;
    font-weight:bold;
}